* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #000000;
  color: #ff0000;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  background-color: #000000;
}

.main-content {
  padding: 100px 20px 20px;
  text-align: center;
}

.main-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff2d2d;
}

.main-content p {
  font-size: 1.2rem;
  color: #6d00a0;
}
